
/* -----------------
General styles
------------------ */

body {
  color: white;
}

/* -----------------
 Specific Styles for index.html page
------------------ */

.jumbotron {
  background: linear-gradient(
                rgba(20, 20, 20, .6),
                rgba(20, 20, 20, .6)
              ),
              url('../images/mink-mingle-233730.jpg');
  background-size: cover;
}

@media (min-width: 990px) {
  .jumbotron {
    width: 100%;
    height: 700px;
  }
}
