{% extends 'poll/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body_block %}

  <div class="container text-center">

    {% if validlink %}
    <form method="post" action=".">
      {% csrf_token %}

      {{ form.email.errors }}
      {{ form.as_p }}

      <button class="btn btn-lg btn-warning btn-block" name="submit" value="Submit">
        Reset Password
      </button>

    </form>

    {% else %}

      <h1>Password reset failed</h1>

    {% endif %}
  </div>

{% endblock %}
