{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ 'Create Poll'}}
{% endblock %}


{% block body_block %}
<body class="fixed-background-image">
  <div class=" container col-md-6 col-md-offset-3">
    <h1 class="text-center">Create Poll</h1>

    {% if invalid_input %}
      <h2 class="error_message text-center">{{ error_message }}</h2>
    {% endif %}

    <form method="post" action="{% url 'create_poll' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="title_question">Title:</label>
        <input type="text" class="form-control" id="title_question" name="title_question">
      </div>

      <div class="form-group">
        <label for="end_date">End Date:</label>
        <input type="date" class="form-control" id="end_date" name="end_date">
      </div>

      <div class="form-group">
        <label for="category">Most Relevant Category:</label>

        <select name="category" id="category" class="form-control">

          {% for category in categories %}
            <option style="color: black;" value="{{ category.group_name }}">{{ category.group_name }}</option>
          {% endfor %}

        </select>
      </div>
      <div class = "form-group">
        <label for= "answer">Answer Choice</label>
        <input type = "text" class = "form-control answer" id = "answer" name = "answer">
      </div>

      <div class = "form-group">
        <label for = "answer">Answer Choice</label>
        <input type = "text" class = "form-control answer" id = "answer" name = "answer">
      </div>

      <button class="btn btn-primary btn-lg btn-block add-choice" name="addchoice">
        Add Another Choice
      </button>

      <button class="btn btn-warning btn-lg btn-block" name="submit">
        Create Poll
      </button>

    </form>

  </div>

<script>

$("document").ready(function() {

  $('.add-choice').click(function(e) {

    e.preventDefault();
    $(".answer:last").after('<div class="form-group"' +
      '<label for = "answer">Answer Choice</label>' +
      '<input type = "text" class = "form-control answer" id = "answer" name = "answer">' +
      '</div>');

  });

});

</script>

</body>
{% endblock %}
