{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron text-center">

    <h1>BeachVotes</h1>
    <h2>A place to vote for things you want.</h2>

    {% if registered %}
      <h2>You are registered!!</h2>
    {% else %}
      <h2>You are NOT registered!</h2>
    {% endif %}

    <div>
      <h1>Welcome!</h1>
      <a href="{% url 'sign_up' %}" class="btn btn-primary btn-lg btn-block">Sign Up</a>
      <a href="{% url 'login' %}" class="btn btn-warning btn-lg btn-block">Log In</a>
    </div>

  </div><!-- end of div containing 'jumbotron' class -->

{% endblock %}
