{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron text-center">

    <h1>BeachVotes</h1>
    <h2>A place to vote for things you want.</h2>

    <div class="container col-md-6 col-md-offset-3">
      <h2>Welcome!</h2>
      <a href="{% url 'registration_register' %}" class="btn btn-primary btn-lg btn-block">Sign Up</a>
      <a href="{% url 'auth_login' %}" class="btn btn-warning btn-lg btn-block">Log In</a>
    </div>

  </div><!-- end of div containing 'jumbotron' class -->

{% endblock %}
