{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron text-center">

    <h1>BeachVotes</h1>
    <h2>A place to vote for things you want.</h2>

    <form method="POST" class="form-horizontal" action="{% url 'index' %}">
      {% csrf_token %}

      <div class="container col-md-6 col-md-offset-3">

        <!-- <div class="form-group">
          <label for="username" class="control-label">Username:</label>
          <input type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
          <label for="email" class="control-label">Email:</label>
          <input type="text" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="password" class="control-label">Password:</label>
          <input type="password" class="form-control" id="password">
        </div>

        <div class="form-group">
          <label for="password_confirmation" class="control-label">Password Confirmation:</label>
          <input type="password" class="form-control" id="password_confirmation">
        </div> -->

        {{ user_form.as_p }}
        {{ user_profile_form.as_p }}

        <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
        <button class="btn btn-warning btn-lg btn-block">Log In</button>

        <a href="#">Forgot Password?</a>

      </div><!-- end of container for form -->
    </form>

  </div><!-- end of div containing 'call to action' -->

{% endblock %}
