{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="container col-md-6 col-md-offset-3">
      <h1>Password Reset</h1>

      <form method="post" action="{% url 'reset_password' %}">

        <div class="form-group">
          <label for="email" class="control-label">Email:</label>
          <input type="text" class="form-control" name="username" id="email">
        </div>

        <button class="btn btn-lg btn-warning btn-block"
          name="submit">Send Email to Reset Password</button>

      </form>
    </div>
{% endblock %}
