{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ 'Create Poll'}}
{% endblock %}

{% block body_block %}
<div class="container">

  <div class="text-center" style="margin: 30px;">
    <a href="#" type="button" class="btn btn-lg btn-warning">Create a New Poll</a>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <h3>Categories</h3>

  {% if categories %}

      <ul class="list-group">
        {% for category in categories %}

        <li class="list-group-item">
          <a href="{% url 'view_poll' %}">
            {{ category.group_name }}
          </a>
        </li>

        {% endfor %}
      </ul>

      {% else %}
        <h1>No categories to show</h1>
      {% endif %}

    </div>

    <div class="col-md-6">
      <h3>Recent Polls</h3>

      {% if polls %}

        <ul class="list-group">

          {% for poll in polls %}
            <li class="list-group-item">
              <a href="{% url 'view_poll' %}">
                {{ poll.title_question }}
              </a>
            </li>
          {% endfor %}

        </ul>

      {% else %}
        <h4>No recent polls to show</h4>
      {% endif %}

    </div>

  </div><!-- end of class 'row' -->

</div><!-- end of class 'container' -->
{% endblock %}
