{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ 'Create Poll'}}
{% endblock %}

{% block body_block %}
  <div class="container-fluid bg-3 text-center">

    <!-- <div class="container">
      <h1>Sports</h1>
    </div>

    <div class="row">

      <div class="col-sm-4 text-center" style="border: 2px solid white; margin: 0px; padding: 20px; border-radius: 5%;">
        <h1>Poll Title</h1>
        <a href="#" class="btn btn-success btn-lg btn-block">
          Participate in Poll
        </a>
      </div>

      <div class="col-sm-4 text-center" style="border: 2px solid white; padding: 20px; border-radius: 5%;">
        <h1>Poll Title</h1>
        <a href="#" class="btn btn-success btn-lg btn-block">
          Participate in Poll
        </a>
      </div>

      <div class="col-sm-4 text-center" style="border: 2px solid white; padding: 20px; border-radius: 5%;">
        <h1>Poll Title</h1>
        <a href="#" class="btn btn-success btn-lg btn-block">
          Participate in Poll
        </a>
      </div>

  </div>

  <a href="#" class="btn btn-warning btn-md">See More Sports Polls</a>
  <br /> -->

    {% if polls %}

      {% for poll in polls %}

        <div class="poll-container text-center">
          <h1>Poll Title: {{ poll.title_question }}</h1>
          <h2>Category: {{ poll.category }}</h2>

          <a href="#" class="btn btn-success btn-lg btn-block">
            Participate in Poll
          </a>
        </div><br /><br />

      {% endfor %}

    {% else %}
      <h1>Currently No Polls to Display</h1>
    {% endif %}

  </div>
{% endblock %}
