{% extends 'poll/base.html' %}

{% block body_block %}
<div class="container">

  {% if polls %}

    <h1 class="text-center">Category</h1>

    {% for poll in polls %}

      <div class="col-md-4 text-center" style="border: 5px solid white; margin-bottom: 40px;">
        <h2>{{ poll.title_question }}</h2>
        <h3>End date: {{ poll.end_date }}</h3>
        <a href="{% url 'view_poll' poll.id %}" class="btn btn-default">View Poll</a>
      </div>

    {% endfor %}

  {% else %}
    <h1 class="text-center">There are no polls to show in this category</h1>
  {% endif %}
</div>
{% endblock %}
