{% extends 'poll/base.html' %}
{% load staticfiles %}

{% block body_block %}
<body class="viewcategorypage">
  <div class="container col-md-6 col-md-offset-3 text-center">

    <div>
      {% if poll %}

        <h2>{{ poll.title_question }}</h2>
        <h3>End date: {{ poll.end_date }}</h3>

        {% if poll_has_closed %}

          <h1 class="text-center">View Results</h1>

          <hr />

          <ul class="list-group" style="color: black;">
            {% for result in final_results %}

            <li class="list-group-item">
              {{ result }}
            </li>

            {% endfor %}
          </ul>
    </div>

  </div>

    <div class="container text-center">
      <div class="row">
        {% for response in vote_responses %}

        <div class="col-sm-6 " style="border: 5px solid white; border-radius: 10px; margin-bottom: 40px; font-size: 20px; padding: 20px;">
          <p>Vote: {{ response.vote_choice }}</p>
          <p>Comment: {{ response.comment }} </p>

          <br /><br />

        </div>

        {% endfor %}

      </div>
    </div>

        {% else %}

          <form method="post" action="{% url 'vote_poll' user.id poll.id %}">
            {% csrf_token %}

            <select name="vote_choice" id="choice" class="form-control">
              {% for choice in answer_choices %}
                <option value="{{ choice }}">{{ choice }}</option>
              {% endfor %}
            </select>

            <div class="form-group">

              <label for="comment">Comment (optional):</label>
              <p style="margin: 5px; color: red; font-style: italic;">{{ error_message }}</p>
              <textarea class="form-control" id="comment" name="comment">{{ previous_comment }}</textarea>
            </div>

            <button class="btn btn-primary btn-lg btn-block" name="submit">
              Vote and See Results
            </button>

          </form>

        {% endif %}<!-- end for if user_has_voted -->

      <!-- for when poll does not exist -->
      {% else %}

        <h2 class="text-center">No poll to display</h2>

    {% endif %}<!-- end for if poll exist -->
    </div>

</div>
</body>

{% endblock %}
