{% extends 'poll/base.html' %}

{% block body_block %}
<body class = 'viewcategorypage'>
<div class="container">

  {% if polls %}

    <h1 class="text-center">Category: {{ category_name }}</h1>

    {% for poll in polls %}
      <div class="row col-xs-6 pollcontainer" >
        <h2>{{ poll.title_question }}</h2>
        <h3>End date: {{ poll.end_date }}</h3>
          <a href="{% url 'view_poll' poll.id user.id %}" class = "categorybutton">
          View Poll
          </a>
      </div>
    {% endfor %}

  {% else %}
    <h1 class="text-center">There are no polls to show in this category</h1>
  {% endif %}
</div>
</body>
{% endblock %}
